.App {
  background: #9697db;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
  width: 40%;
  height: 60%;
  margin: auto;
}


#root, body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;

}

.weather > p {
  border-radius: 5px;
  font-weight: bold;
}
